<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0lhnO9H6xLI5Z8JhrZ9axiEuD-tK19sM</string>
	<key>GCM_SENDER_ID</key>
	<string>942870591367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryuji.MinorityGame</string>
	<key>PROJECT_ID</key>
	<string>minoritygameapp-7885a</string>
	<key>STORAGE_BUCKET</key>
	<string>minoritygameapp-7885a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942870591367:ios:b19eeee56f495e4dba0522</string>
</dict>
</plist>